@import 'nib'
@import "estilo/stylus/TablaPeriodica.styl"
@import "estilo/stylus/justfied.styl"
@import url(http://fonts.googleapis.com/css?family=Abel)
bg_color_burbuja = 1, 204, 174
bg_color_header = 4, 255, 193
a
	text-decoration: none
	color: #D7D7D7
	&:hover
		color: black

body
	
	font-family: 'Abel', sans-serif
	background: #fcfcfc

.bodyM
	background: linear-gradient(left, #00b5c7 , #00e8ff, 99.9% #00b5c7)

.btn1-
	background: #00ffd9
	border-radius: 10px
	color: black
	font-size: .8em
	height: 30px
	position: absolute
	text-align: center
	width: 90px
	&:hover
		border: 1px solid #BBBCBE
	&:active
		background: #00dfbf
		border: 1px solid black
		color: white
.Bur-
	background: radial-gradient(circle, rgba(bg_color_burbuja, .15),1% rgba(bg_color_burbuja, .40), rgba(bg_color_burbuja, .20), rgba(bg_color_burbuja, .40))
	border-radius: 100%
	color: #BBBCBE
	height: 90px
	margin-right: 1px
	margin-top: 1px
	position: absolute
	text-align: center
	vertical-align: center
	width: 90px
	&:hover
		background: radial-gradient(circle, rgba(90, 161, 253, .15),1% rgba(90, 161, 253, .40), rgba(90, 161, 253, .20), rgba(90, 161, 253, .40))
		color: #000
		height: 150px
		width: 150px
		font-size: 1.5em

.Concluciones
	margin-top: 158.75px
	margin-left: 586.25px
	&:hover
		margin-top: 142.5px
		margin-left: 548.75px

.Creditos
	margin-top: 350px
	margin-left: 307px

.Evaluacion
	margin-left: 158.75px
	margin-top: 180px
	&:hover
		margin-top: 142.5px
		margin-left: 121.25px

footer
	margin-top: 30px
	text-align: center;

h1
	color: #0EF501
	overflow: hidden
	margin-top: -40px
h4
	margin-right: 360px

header
	background-image: linear-gradient(top, rgba(bg_color_header, .70), rgba(bg_color_header, .0001), 99% rgba(bg_color_header, 0))
	color: white
	font-size: 1.5em
	height: 200px
	margin-left: -7px
	margin-right: -7px
	margin-top: -12px
	overflow: hidden
	text-align: center	

.Introduccion
	margin-left: 55px
	margin-top: 55px
	&:hover
		margin-top: 17.5px
		margin-left: 17.5px
li
	display: block

.Menu
	margin-top: 40px
	height: 400px
	margin-left: auto
	margin-right: auto
	width: 900px
	overflow: hidden
	margin-top: -100px

.navbar
	margin-top: -50px
	height: 20px

p
	margin-left: 20px
	margin-right: 20px
.Proceso
	margin-top: 45px
	margin-left: 700px
	&:hover
		margin-top: 7.5px
		margin-left: 662.5px

.Records
	margin-top: 350px
	margin-left: 193px

.Recursos
	margin-top: 350px
	margin-left: 413px

.Tareas
	margin-top: 75px
	margin-left: 372.5px
	&:hover
		margin-top: 37.5px
		margin-left: 335px
.texto
	position: relative
	top: 50%
	transform: translateY(-50%)

ul
	list-style-type: none

.Uso
	margin-top: 350px
	margin-left: 523px
	