.elemento
	width: 55px
	height: 55px
	border-radius: 3px
	border: 1px solid #9F9F9F
	color: #D7D7D7
	position: absolute
	&:hover
		border: 1px solid black
		color: black
.familia1
	margin-left: 0px

.familia2
	margin-left: 55px

.familia3b
	margin-left: 110px

.familia4b
	margin-left: 165px

.familia5b
	margin-left: 220px

.familia6b
	margin-left: 275px

.familia7b
	margin-left: 330px

.familia8b1
	margin-left: 385px

.familia8b2
	margin-left: 440px

.familia8b3
	margin-left: 495px 

.familia1b
	margin-left: 550px

.familia2b
	margin-left: 605px

.familia3
	margin-left: 660px

.familia4
	margin-left: 715px

.familia5
	margin-left: 770px

.familia6
	margin-left: 825px

.familia7
	margin-left: 880px

.familia8
	margin-left: 935px

.GasNoble
	background: #97DAA4
	&:hover
		background: #017F1A

.Latanido
	background: #FFC9DE
	&:hover
		background: #FF007C
.Metal
	background: #A8BBFF
	&:hover
		background: #0037FF

.MetalAlcalinoterreo
	background: #CAFBFF
	&:hover
		background: #00DCF0

.MetalTran
	background: #F5A7FE
	&:hover
		background: #E600FF

.nombrep
	font-size: .6em
	margin-top: 1px
	text-align: center

.noMetal
	background: #A7FE9A
	&:hover
		background: #22FF00

.numero
	font-size: .5em
	text-align: left
	margin-top: 1px
	margin-left: 1px

.periodo1
	margin-top: 10px

.periodo2
	margin-top: 65px

.periodo3
	margin-top: 120px

.periodo4
	margin-top: 175px

.periodo5
	margin-top: 230px

.periodo6
	margin-top: 285px

.periodo7
	margin-top: 340px

.periodoA
	margin-top: 470px

.periodoL
	margin-top: 405px

.SemiMetal
	background: #FFA0A0
	&:hover
		background: #FF0000

.simbolo
	font-size: 1.5em
	text-align: center

.tablaperiodica
	margin-top: 70px
	height: 700px
	width: 1000px
	margin-right: auto
	margin-left: auto

.Transicion
	background: #FFC9DE
	&:hover
		background: #FF007C

.volver
	margin-top: -50px